<h1> Create New Person </h1>

<form method="POST" action="/api/person">

  <label>First Name: </label>
  <input type="text" name="firstName" id="firstName">

  <br>

  <label>Last Name: </label>
  <input type="text" name="lastName" id="lastName">

  <br>

  <input type="submit" name="submit" value="Submit">

</form>