<table>
  <tr>
    <th> First Name </th>
    <th> Last Name </th>
    <th> Edit </th>
    <th> Delete </th>
  </tr>

  <% data.forEach(function(data, index) { %>

  <tr>
    <td> <%= data.firstName %> </td>
    <td> <%= data.lastName %> </td>
    <td> <a href="/api/person/edit?id=<%= index %>"> Edit</a> </td>
    <td> <a href="/api/person/delete?id=<%= index %>"> Delete</a> </td>
  </tr>

  <% }) %>


</table>